{% extends "mainsite/base.html" %}

{% block content %}
<center>
{% if searched %}
<h1>Search Results For "{{searched}}"</h1>
<br/>

<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">Zipcode</th>
        <th scope="col">Created At</th>
        <th scope="col">Id</th>
      </tr>
    </thead>
    <tbody>
        
      {% if records %}
        {% for record in records %}
          <tr>
            <td>
              <a href="{% url 'record' record.id %}">
                {{record.first_name}}
                {{record.last_name}}
              </a>
            </td>
            <td>{{record.email}}</td>
            <td>{{record.phone}}</td>
            <td>{{record.address}}</td>
            <td>{{record.city}}</td>
            <td>{{record.state}}</td>
            <td>{{record.zipcode}}</td>
            <td>{{record.created_at}}</td>
            <td><a href="{% url 'record' record.id %}">{{record.id}}</a></td>
          </tr>
        {% endfor %}
      {% endif %}
        
    </tbody>
  </table>

{% else %}
<h1>No Results...</h1>

{% endif %}
</center>
{% endblock %}